
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(16, 17, 17, 0.342);
    border-radius: .25rem;
    text-align: left;
    max-height: 140px;
}
.card-normal {
    background-color:rgb(0,128,0);
}

.card-advisory {
    background-color:rgb(54,162,223);
    
}
.card-watch{
    background-color:rgb(255,165,0);
}
.card-danger{
    background-color: rgb(255,0,0);
}
.mb-4{
    color: #EFECE9;
}
.text{
    color: #EFECE9;
}
/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 10px 10px;
    background: #f5f5f5;
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 180px;
    max-width: 180px;
    background:rgb(17,17,17);
    /* color: #fff; */
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -180px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background:rgb(5,46,168);
    color: #fff;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #EFECE9;
}
#sidebar .sidebar-header a>h3 {
    /* overflow: hidden; */
    /* font-size: clamp(14px + 1vw); */
    /* font-size : clamp(3rem, 2rem, 5rem); */
    /* font-size: calc(24px + (56 - 48) * ((100vw - 300px) / (1600 - 300))) !important; */
    font-size: calc(16px + 0.4vw);
    color: white;

}

#sidebar ul p {
    color: #fff;
    padding: 1px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
}
#sidebar ul li a:hover {
    color: #fff;
    background: #6cbcf1;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #e8b139;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    /*text-align: right;*/
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}
.bg-pic{
    width:100%;  
}

.third-content > .text{
    float: left;
    margin-right: 370px;
    text-align: left;
    margin-left: 3%;
}
.third-content > .number{
    float: left;
    margin-right: 370px;
    text-align: left;
    margin-left: 3%;

}
.third-content ml-auto mr-4 mb-2 p,h4{
    float: left;
    margin-right: 370px;
    text-align: left;
    margin-left: 3%;

}

@media only screen and (max-width: 990px) and (min-width:700px)  {
    .third-content > .text, .number{
        position: left;
        margin-right: 500px;
            margin-left: 3%;

    }

    .third-content ml-auto mr-4 mb-2 p,h4{
        position: left;
        margin-right: 500px;
        margin-left: 3%;

    }

}

.gua-chart {
    display: flex;
    justify-content: center;
    width: 100%;
}
.nodes{
     position: relative;
    top: -97px;
    left: 37%;
    color: black;
}

/* burger button */
.animated-icon1, .animated-icon2, .animated-icon3 {
    width: 20px;
    height: 15px;
    position: relative;
    margin: 0px;
    }
    
    .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 90%;
    opacity: 1;
    left: 0;
    }
    
    .animated-icon1 span {background:#555;}
    
    .animated-icon1 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon1 span:nth-child(2) {
    top: 10px;
    }
    
    .animated-icon1 span:nth-child(3) {
    top: 20px;
    }

    /* circle percentage */
    #chartdiv {
        width: 90%;
        height: 400px;
      }
      #chartdiv2 {
        width: 90%;
        height: 400px;
      }
    /* circle percentage */
